server {
  listen 80;
  listen [::]:80;

  access_log      /var/log/nginx/myddns.access.log;
  error_log       /var/log/nginx/myddns.error.log;

  root /var/www/myddns/public_html;

  index index.php index.html index.htm;

  server_name _;

  location / {
    try_files $uri $uri/ =404;
  }

  location ~ \.php$ {
    include snippets/fastcgi-php.conf;
    fastcgi_pass unix:/run/php/php7.4-fpm.sock;
  }

  location /data {
    deny all;
  }
  location /config {
    deny all;
  }
}
